certifi==2017.11.5
chardet==3.0.4
defusedxml==0.5.0
googlemaps==2.5.1
grab==0.6.38
idna==2.6
lxml==4.6.2
numpy==1.13.3
pandas==0.21.1
pkg-resources==0.0.0
pycurl==7.43.0.1
python-dateutil==2.6.1
pytils==0.3
pytz==2017.3
requests==2.18.4
selection==0.0.13
six==1.11.0
urllib3==1.22
user-agent==0.1.9
weblib==0.1.25
